@font-face {
  font-family: grotesque;
  src: url(../asset/Grotesque5-condensed.otf);
}

body {
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  /* font-size:16pt; */
}

body::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: grotesque;
  color: black;
  cursor: default;
  /* letter-spacing: 0.5pt; */
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

/* .row a:hover {
  text-decoration: underline 1.5pt;
  text-underline-offset: 2px;
  cursor: pointer;
} */

.row:hover .pName>a{
  text-decoration: underline 1.5pt;
  text-underline-offset: 2px;
  cursor: pointer;
}

/* .row:hover .row > a{
  text-decoration: underline 1.5pt;
  text-underline-offset: 2px;
  cursor: pointer;
} */

@media only screen and (min-width: 840px) {
.title {
  position: fixed;
  font-size: 4em;
  line-height: 1.075;
  z-index: 0;
  cursor: pointer;
  /* filter: drop-shadow(0 0 0.1rem rgba(255, 255, 255, 0.5)); */
}
.title:hover {
  text-decoration: underline 1.5pt;
  text-underline-offset: 2px;
}

#phone{
  display: none;
}

#name {
  top: 3.4%;
  left: 2.2%;
}
#about {
  top: 3.4%;
  left: 40%;
}

#contact {
  top: 3.4%;
  right: 2.2%;
}

#bgVd {
  z-index: 1000;
  width: 100vw;
  height: 100vh;
}
.vd {
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  pointer-events: none;
}

#player {
  display: block;
}

.projectList {
  position: absolute;
  top: 22.2%;
  left: 2.2%;
  width: 95.6%;
  margin: 0 auto;
  z-index: -1;
}

li {
  padding-bottom: 1.8%;
}
.row {
  font-size: 2.25em;
  line-height: 1.165;
  display: flex;
  gap: 4rem;
  justify-content: space-between;
}
.pName {
  flex: 1;
}
.disc {
  flex: 2;
  padding-right: 0.5em;
}
.type {
  flex: 1.5;
}
.year {
  flex: 0.5;
  text-align: right;
}
}

@media only screen and (max-width: 840px) {
  .title {
    position: fixed;
    font-size: 3.35em;
    line-height: 1.075;
    z-index: 0;
    cursor: pointer;
    /* filter: drop-shadow(0 0 0.1rem rgba(255, 255, 255, 0.5)); */
  }

  #phone{
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 2.25em;
    width: 100%;
    text-align: center;
  }

  #name {
    top: 2.25%;
    left: 2.75%;
  }
  #about {
    display: none;
    top: 2.25%;
    right: 2.75%;
  }
  
  #contact {
    display: none;
  }
  
  #bgVd {
    z-index: 1000;
    width: 100vw;
    height: 100vh;
  }

  .vd {
    display: none;
    position: fixed;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  #player {
    display: none;
    /* display: block; */
    /* opacity: 0; */
  }

  .projectList {
    display: none;
    position: absolute;
    top: 20%;
    left: 2.75%;
    width: 94.5%;
    margin: 0 auto;
    z-index: -1;
  }
  li {
    padding-bottom: 6.5%;
  }
  .row {
    font-size: 2em;
    line-height: 1.165;
    display: flex;
    flex-direction: column;
    /* gap: 4rem;
    justify-content: space-between; */
  }
  .row :nth-child(1) { order: 1; }
  .row :nth-child(2) { order: 4; }
  .row :nth-child(3) { order: 2; }
  .row :nth-child(4) { order: 3; }
  /* .type, .year{
    font-size: 0.65em;
    line-height: 1.325;
  } */
}