@font-face {
  font-family: grotesque;
  src: url(../asset/Grotesque5-condensed.otf);
}

body {
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: grotesque;
  color: black;
  cursor: default;
  /* letter-spacing: 0.5pt; */
}

a {
  text-decoration: none;
}

.title {
  position: fixed;
  font-size: 4em;
  line-height: 1.075;
  z-index: 0;
  cursor: pointer;
  /* filter: drop-shadow(0 0 0.1rem rgba(255, 255, 255, 0.5)); */
}
.title:hover {
  text-decoration: underline 1.5pt;
  text-underline-offset: 2px;
}

.row a:hover {
  text-decoration: underline 1.5pt;
  text-underline-offset: 2px;
  cursor: pointer;
}

#name {
  top: 3.4%;
  left: 2.2%;
}
#about {
  top: 3.4%;
  left: 40%;
}

#contact {
  top: 3.4%;
  right: 2.2%;
}

#bgVd {
  z-index: 1000;
  width: 100vw;
  height: 100vh;
}
.vd {
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#player {
  display: block;
}

.star {
  visibility: hidden;
}

.projectList {
  position: absolute;
  top: 22.2%;
  left: 2.2%;
  width: 95.6%;
  margin: 0 auto;
  z-index: -1;
}
ul,
li {
  list-style: none;
}
li {
  padding-bottom: 1.8%;
}
.row {
  font-size: 2.25em;
  line-height: 1.165;
  display: flex;
  gap: 4rem;
  justify-content: space-between;
}
.pName {
  flex: 1;
}
.disc {
  flex: 2;
  padding-right: 0.5em;
}
.type {
  flex: 1.5;
}
.year {
  flex: 0.5;
  text-align: right;
}
