@font-face {
  font-family: ha;
  src: url(b16.otf);
}

body {
  overflow: hidden;
  margin: 0;
  font-family: ha;
  /* cursor: url("1.png"), none; */
}

.title {
  position: absolute;
  font-size: 48pt;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* 
html {
  cursor: url("1.png"), none;
} */

.backkk {
  background-color: white;
  margin: 0;
  left: 0;
  top: 0;
  width: 1500pt;
  height: 1000pt;
}

.fish {
  position: absolute;
  width: 225pt;
  filter: blur(13.5px);
}

.text {
  font-family: ha;
  font-size: 11pt;
  position: absolute;
  letter-spacing: 1pt;
}

a {
  text-decoration: none;
  color: black;
}

#head {
  font-family: ha;
  font-size: 11pt;
  position: absolute;
  left: 8%;
  top: 3%;
  letter-spacing: 1pt;
}

#exe,
#list,
#cloc,
#win,
#fishh,
#fff {
  position: absolute;
  top: 50%;
}
#exe {
  font-family: ha;
  font-size: 11pt;
  position: absolute;
  letter-spacing: 1pt;
  left: 8%;
}
#exe:hover {
  cursor: pointer;
}
#lx {
  font-family: ha;
  position: absolute;
  letter-spacing: 1pt;
  left: 8%;
  top: 53%;
  font-size: 9pt;
  line-height: 14pt;
  visibility: hidden;
}

#list {
  left: 23%;
}
#cloc {
  left: 38%;
}
#win {
  left: 53%;
}
#fishh {
  font-family: ha;
  font-size: 11pt;
  position: absolute;
  letter-spacing: 1pt;
  left: 84%;
  visibility: hidden;
}
#fff {
  left: 87.5%;
  width: 2%;
}
#fffish:hover #fishh {
  visibility: visible;
}
#fffish:hover #fff {
  visibility: hidden;
}

#ar {
  font-family: ha;
  font-size: 11pt;
  position: absolute;
  letter-spacing: 1pt;
  visibility: hidden;
}

/*fa*/
#fa {
  position: absolute;
  left: 100pt;
  top: 134pt;
  animation-name: swima;
  animation-delay: -2s;
  animation-duration: 48s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes swima {
  0% {
    left: 100pt;
  }
  36% {
    left: 1030pt;
    transform: rotateY(0);
  }
  46% {
    left: 1030pt;
    transform: rotateY(-180deg);
  }
  86% {
    left: 5pt;
    transform: rotateY(-180deg);
  }
  96% {
    left: 5pt;
    transform: rotateY(0);
  }
  100% {
    left: 100pt;
  }
}
/*#fa:hover {
		animation-play-state: paused;
	}*/

/*fb*/
#fb {
  position: absolute;
  left: 900pt;
  top: 428pt;
  transform: rotateY(180deg);
  animation-name: swimb;
  animation-duration: 47s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes swimb {
  0% {
    left: 900pt;
  }
  35% {
    left: 5pt;
    transform: rotateY(180deg);
  }
  45% {
    left: 5pt;
    transform: rotateY(0);
  }
  83% {
    left: 1030pt;
    transform: rotateY(0);
  }
  93% {
    left: 1030pt;
    transform: rotateY(180deg);
  }
  100% {
    left: 900pt;
  }
}
/*#fb:hover {
		animation-play-state: paused;
	}*/

/*fc*/
#fc {
  position: absolute;
  left: 382pt;
  top: 222pt;
  transform: rotateY(180deg);
  animation-name: swimc;
  animation-duration: 52s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes swimc {
  0% {
    left: 382pt;
  }
  17% {
    left: 5pt;
    transform: rotateY(180deg);
  }
  27% {
    left: 5pt;
    transform: rotateY(0);
  }
  64% {
    left: 1030pt;
    transform: rotateY(0);
  }
  74% {
    left: 1030pt;
    transform: rotateY(180deg);
  }
  100% {
    left: 382pt;
  }
}
/*#fc:hover {
		animation-play-state: paused;
	}*/

/*fd*/
#fd {
  position: absolute;
  left: 12pt;
  top: 542pt;
  animation-name: swimd;
  animation-duration: 53s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes swimd {
  0% {
    left: 12pt;
  }
  43% {
    left: 1030pt;
    transform: rotateY(0);
  }
  53% {
    left: 1030pt;
    transform: rotateY(180deg);
  }
  89.5% {
    left: 5pt;
    transform: rotateY(180deg);
  }
  99.5% {
    left: 5pt;
    transform: rotateY(0);
  }
  100% {
    left: 12pt;
  }
}
/*#fd:hover {
		animation-play-state: paused;
	}*/

/*fe*/
#fe {
  position: absolute;
  left: 100pt;
  top: 346pt;
  animation-name: swima;
  animation-duration: 51s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: -13s;
}
/*#fe:hover {
		animation-play-state: paused;
		}*/

/*ff*/
#ff {
  position: absolute;
  left: 100pt;
  top: 286pt;
  transform: rotateY(180deg);
  animation-name: swimb;
  animation-duration: 42s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: -12s;
}
/*#ff:hover {
		animation-play-state: paused;
		}*/

/*fg*/
#fg {
  position: absolute;
  left: 100pt;
  top: 311pt;
  transform: rotateY(180deg);
  animation-name: swimc;
  animation-duration: 48s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: -10s;
}
/*	#fg:hover {
		animation-play-state: paused;
		}*/

/*fh*/
#fh {
  position: absolute;
  left: 12pt;
  top: 106pt;
  animation-name: swimd;
  animation-duration: 49s;
  animation-delay: -10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
/*	#fh:hover {
		animation-play-state: paused;
	}*/

/*fi*/
#fi {
  position: absolute;
  left: 12pt;
  top: 486pt;
  animation-name: swimd;
  animation-duration: 47s;
  animation-delay: -13s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
/*	#fi:hover {
		animation-play-state: paused;
	}*/

/*fj*/
#fj {
  position: absolute;
  left: 100pt;
  top: 384pt;
  transform: rotateY(180deg);
  animation-name: swimb;
  animation-duration: 52s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: -3s;
}
/*	#fj:hover {
		animation-play-state: paused;
		}*/

/*fk*/
#fk {
  position: absolute;
  left: 100pt;
  top: 184pt;
  transform: rotateY(180deg);
  animation-name: swimc;
  animation-duration: 55s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: -13s;
}
/*	#fk:hover {
		animation-play-state: paused;
		}*/

a:hover {
  cursor: pointer;
}

/*.back{
	position: absolute;
	left: 0;
	top:0;
	height: 750pt;
	width: 1400pt;
	animation-name: app;
	animation-duration: 90s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	/*animation-delay: -1s;*/
/*}
@keyframes app{
	0%{
		background-color: #DFF2F7;
	}
	50%{
		background-color: #006284;
	}
	100%{
		background-color: #DFF2F7;
	}
}*/
